<%= form_with model: @note.becomes(Note) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :type, value: @note.class.name %>

  <% if @note.public_attributes.include? :title %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <% end %>

  <% if @note.public_attributes.include? :content %>
    <%= f.label :content %>
    <%= f.text_area :content %>
  <% end %>

  <% if @note.public_attributes.include? :due_date %>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  <% end %>

  <%= f.submit yield :button_text %>

  <ul id="note_types">
    <li><%= link_to 'Note', new_note_path, id: 'note' %></li>
    <li><%= link_to 'Todo', new_note_path(type: 'todo'), id: 'todo' %></li>
  </ul>
<% end %>